
<h1>Title: <%= @post.title %></h1>
<ul>
  <% @post.categories.each do |cat| %>
    <li><%= cat.name %></li>
  <% end %>
</ul>


<p><%= @post.content %></p>
<ul>
  <% @post.comments.each do |comt| %>
    <li><%= comt %></li>
  <% end %>
</ul>

<% form_for @post do |f| %>
  <%= f.fields_for :comments, post.comments.build do |comments_fields| %>
    <%= comments_fields.text_field :content %>
    <% end %>
<% end %>
